<a href="https://colab.research.google.com/github/sma9898/near-earth-objects-sample-capstone/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import necessary libraries
import pandas as pd

In [ ]:
# Load data from CSV file
df = pd.read_csv('WISE_NEACOMET_DISCOVERY_STATISTICS_rows.csv')
df.head()

,Designation,Discovery Date YYYY-MM-DD,H (mag),MOID (AU),q (AU),Q (AU),period (yr),i (deg),PHA,Orbit Class
0,419880 (2011 AH37),01/07/2011,19.7,0.035,0.84,4.26,4.06,9.65,Y,Apollo
1,419624 (2010 SO16),09/17/2010,20.5,0.028,0.93,1.08,1.00,14.52,Y,Apollo
2,414772 (2010 OC103),07/28/2010,19.0,0.333,0.39,2.00,1.31,23.11,N,Apollo
3,414746 (2010 EH20),03/06/2010,18.0,0.268,1.25,3.99,4.24,23.89,N,Amor
4,407324 (2010 OB101),07/18/2010,20.7,0.111,0.77,2.46,2.06,9.12,N,Apollo

In [ ]:
# Check for missing data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Designation     200 non-null    object
 1   Discovery Date  200 non-null    datetime64[ns]
 2   Magnitude       181 non-null    float64
 3   MOID            200 non-null    float64
 4   Perihelion      200 non-null    float64
 5   Aphelion        200 non-null    float64
 6   Orbital Period  200 non-null    float64
 7   Inclination     200 non-null    float64
 8   PHA             200 non-null    object
 9   Orbit Class     200 non-null    category
dtypes: category(1), datetime64[ns](1), float64(6), object(2)
memory usage: 14.7+ KB

In [ ]:
# Check for duplicates
df[df.duplicated()]

Empty DataFrame
Columns: [Designation, Discovery Date YYYY-MM-DD, H (mag), MOID (AU), q (AU), Q (AU), period (yr), i (deg), PHA, Orbit Class]
Index: []

In [ ]:
# View missing values
df[df.isna().any(axis=1)]

,Designation,Discovery Date YYYY-MM-DD,H (mag),MOID (AU),q (AU),Q (AU),period (yr),i (deg),PHA,Orbit Class
50,C/2014 N3 (NEOWISE),07/04/2014,NaN,2.888,3.88,16441.51,745640.58,61.63,NaN,Comet
53,P/2014 L2 (NEOWISE),06/07/2014,NaN,1.224,2.23,10.42,15.91,5.18,NaN,Jupiter-family Comet
64,C/2014 C3 (NEOWISE),02/14/2014,NaN,0.866,1.86,214.97,1128.89,151.78,NaN,Comet
88,P/2010 P4 (WISE),08/06/2010,NaN,0.854,1.86,5.55,7.13,24.10,NaN,Jupiter-family Comet
104,P/2010 N1 (WISE),07/05/2010,NaN,0.491,1.49,4.92,5.74,12.88,NaN,Jupiter-family Comet
127,C/2010 L5 (WISE),06/14/2010,NaN,0.114,0.79,15.64,23.56,147.05,NaN,Halley-type Comet*
128,C/2010 L4 (WISE),06/15/2010,NaN,2.530,2.83,157.36,716.78,102.82,NaN,Comet
129,245P/WISE,06/02/2010,NaN,1.172,2.14,5.88,8.04,21.09,NaN,Jupiter-family Comet
135,C/2010 KW7 (WISE),05/16/2010,NaN,1.625,2.57,197.11,997.65,147.06,NaN,Comet
136,317P/WISE,05/27/2010,NaN,0.204,1.20,4.65,5.01,10.65,NaN,Jupiter-family Comet
144,P/2010 JC81 (WISE),05/10/2010,NaN,0.828,1.81,14.46,23.19,38.69,NaN,Halley-type Comet*
147,C/2010 J4 (WISE),05/12/2010,NaN,0.307,1.09,NaN,NaN,162.30,NaN,Parabolic Comet
163,C/2010 G3 (WISE),04/14/2010,NaN,4.492,4.91,5260.08,135070.20,108.27,NaN,Comet
164,C/2010 FB87 (WISE-Garradd),03/28/2010,NaN,2.538,2.84,595.66,5176.82,107.63,NaN,Comet
177,C/2010 E3 (WISE),03/05/2010,NaN,1.546,2.27,NaN,NaN,96.48,NaN,Parabolic Comet
184,C/2010 DG56 (WISE),02/18/2010,NaN,0.650,1.59,133.48,555.03,160.42,NaN,Comet
187,C/2010 D4 (WISE),02/28/2010,NaN,6.373,7.15,122.19,520.06,105.66,NaN,Comet
188,C/2010 D3 (WISE),02/26/2010,NaN,3.586,4.25,23255.11,1254179.62,76.39,NaN,Comet
189,P/2010 D2 (WISE),02/25/2010,NaN,2.945,3.66,9.72,17.30,57.18,NaN,Jupiter-family Comet*
190,P/2010 D1 (WISE),02/17/2010,NaN,1.683,2.67,5.63,8.45,9.65,NaN,Jupiter-family Comet
198,P/2010 B2 (WISE),01/22/2010,NaN,0.630,1.62,4.60,5.49,8.93,NaN,Encke-type Comet

In [ ]:
# There really isn't a way to calculate H, Q, or period based on the available data
# There are only 2 records missing Q and period, so it'll be easiest to drop those
df.drop(index=[147, 177], inplace=True)

In [ ]:
# PHA status requires BOTH MOID <= 0.05 au AND H <= 22.0. All of the remaining records with missing H have MOID > 0.05, so they would all be classified as NOT PHAs
# They're also all comets
df['PHA'] = df['PHA'].fillna('N')

In [ ]:
# Check for outliers
df.describe()

,H (mag),MOID (AU),q (AU),Q (AU),period (yr),i (deg)
count,181.000000,200.000000,200.000000,200.000000,2.000000e+02,200.000000
mean,20.310497,0.324581,1.057350,235.349500,1.072373e+04,28.382700
std,1.521932,0.721830,0.742304,2040.071002,1.033174e+05,25.314084
min,15.600000,0.000200,0.140000,1.040000,7.200000e-01,0.820000
25%,19.400000,0.054000,0.770000,2.092500,1.855000e+00,14.010000
50%,20.300000,0.148500,0.970000,3.470000,3.250000e+00,22.840000
75%,21.300000,0.262000,1.110000,4.560000,4.390000e+00,33.595000
max,24.300000,6.373000,7.150000,23255.110000,1.254180e+06,160.420000

In [ ]:
# Leave H blank since they're all comets and I don't know if they have a different absolute magnitude compared to asteroids

In [ ]:
print(df['PHA'].value_counts())
print(df['Designation'].value_counts())
print(df['Orbit Class'].value_counts())

PHA
N    170
Y     30
Name: count, dtype: int64
Designation
419880 (2011 AH37)     1
419624 (2010 SO16)     1
414772 (2010 OC103)    1
414746 (2010 EH20)     1
407324 (2010 OB101)    1
                      ..
(2010 CO1)             1
P/2010 B2 (WISE)       1
(2010 AU118)           1
(2010 AG79)            1
(2010 AB78)            1
Name: count, Length: 200, dtype: int64
Orbit Class
Apollo                   105
Amor                      61
Aten                      15
Comet                      9
Jupiter-family Comet       6
Halley-type Comet*         2
Jupiter-family Comet*      1
Encke-type Comet           1
Name: count, dtype: int64

In [ ]:
# Remove * from Orbit classes
df['Orbit Class'] = df['Orbit Class'].str.replace("Jupiter-family Comet*", "Jupiter-family Comet")
df['Orbit Class'] = df['Orbit Class'].str.replace("Halley-type Comet*", "Halley-type Comet")

In [ ]:
# Rename columns for clarity and concision
df.rename(columns={'Discovery Date YYYY-MM-DD': 'Discovery Date', 'H (mag)': 'Magnitude', 'q (AU)': 'Perihelion', 'Q (AU)': 'Aphelion', 'i (deg)': 'Inclination', 'period (yr)': 'Orbital Period', 'MOID (AU)': 'MOID'}, inplace=True)

# Fix column data types
df['Discovery Date'] = pd.to_datetime(df['Discovery Date']) # Discovery Date as datetime
df['Orbit Class'] = df['Orbit Class'].astype('category') # Orbit Class as categorical

In [ ]:
# Reset index
df.reset_index(drop=True, inplace=True)

In [ ]:
# Export as CSV
df.to_csv('NEOs_cleaned.csv')